
<div class="p-3 footerStyle" data-bs-theme="dark">
    <div class="container-xxl text-body">
        <div class="row row-cols-1 row-cols-lg-3 text-center align-items-center justify-content-around">
            <div class="col small order-last order-lg-first text-lg-start">
                <div class="row">
                    <div class="col-12">
                        <span><img src="/images/logo.png" height="30" /></span>
                    </div>
                    <div class="col-12 copyright">
                        &copy; 2024 Vladimir
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column justify-content-end text-lg-end my-3 my-lg-0">
                <div class="row">
                    <div class="col-12">
                        <a href="https://github.com/VGGA" target="_blank"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
